@import '../utils/parameters';

.gifts-section {
    margin-bottom: 15rem;
}

.gifts-section__nav {
    background: $c-secondary;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10rem;
    
}



.gifts-section__text {
    flex: 50%;
    


    .gifts-text {
        font-size: 1.8rem;
        line-height: 100%;
        color: $c-text2;
        margin-bottom: 3rem;
    }

    .gifts-title {
        font-weight: 900;
        font-size: 4rem;
        line-height: 138%;
        color: $c-text;
        margin-bottom: 3rem;
        max-width: 30rem;
    }
}

.gifts-section__img {
    flex: 50%;
    position: relative;
}

.gift-img {
    position: absolute;
    top: -27rem;
    right: 0;
    max-width: 100%;
    
}


@media (max-width:1024px) {
    
    .gifts-section  {
        margin-bottom: 15rem;
    }

    
    .gift-img {
        position: static;
    }
}

@media (max-width:768px) {
    .gifts-section__nav {
        display: block;
        padding: 5rem;
    }

    .gifts-section__text .gifts-title {
        font-size: 2.8rem;
    }

    .gifts-section {
        margin-bottom: 10rem;
    }

}



