@import '../utils/parameters';

.gifts {
    background: $c-secondary;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10rem;
    margin-bottom: 30rem;
}



.gifts-text {
    flex: 50%;
    


    p {
        font-size: 1.8rem;
        line-height: 100%;
        color: $c-text2;
        margin-bottom: 3rem;
    }

    h2 {
        font-weight: 900;
        font-size: 4rem;
        line-height: 138%;
        color: $c-text;
        margin-bottom: 3rem;
    }
}

.gifts-text-img {
    flex: 50%;
    position: relative;
}

.gift-img {
    position: absolute;
    top: -27rem;
    right: 0;
    max-width: 100%;
    
}


@media (max-width:1024px) {
    h2 {
        font-size: 1rem;
    }
}



