@import '../utils/parameters';

.main-section  {
    background-color: $c-secondary;
    padding: 22rem 0 0;
    overflow: hidden;
    

    .container {
        position: relative;
    }

    &__title  {
        font-weight: bold;
        font-size: 5.5rem;
        line-height: 1.38;
        max-width: 55rem;
        padding-bottom: 2rem;
     
    }

    &__link {
        border: 1px solid $c-primary;
        background: $c-primary;
        box-sizing: border-box;
        box-shadow: 0px 3px 18px rgba(0, 201, 201, 0.55);
        border-radius: 14px;
        padding: 1rem 3rem 1rem 0.5rem;
        color: $c-text;
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 120%;
        color: $c-text;
        display: inline-block;
        
        
    }

    &__arrow {
        padding-left: 2rem;
        
    }

    &__img {
        position: absolute;
        right: -15rem;
        bottom: 0;
        max-height: 52rem;
        max-width: 100%;

    }

    
}

.order {
    padding-bottom: 5rem;
}

.primary {
    display: block;
    color: $c-primary;
}

.orange {
    color: #F3AF47;
    
}

@media (max-width:1023px) {
    &__title {
        font-size: 4.2rem;
    }

}

@media (max-width:768px) {
    &__title {
        font-size: 4.2rem;
    }

    .main-section__title {
        max-width: 100%;
    }

    .main-section__img {
        position: static;
        max-height: 100%;
    }

}

@media (max-width:426px) {
    &__title {
        font-size: 3.5rem;
    }

}


@media (max-width:321px) {
    &__title {
        font-size: 2.4rem;
    }

}