@import '../utils/parameters';

.order-section {
    margin-bottom: 20rem;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 1rem;
}

.li {
    margin-right: 1rem;
    flex: 33.3333%;
}

.order-img {
    padding-top: 3rem;
}

.order-head {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 130%; 
    letter-spacing: 0.2px;
    color: $c-text;
    display: block;
    margin-bottom: 1rem;
}

.text {
    font-size: 16px;
    line-height: 150%;
    color: $c-text2;
}


@media (max-width:575px) {
    .row {
        display: block;
        
    }

    .order-head {
        font-size: 2rem;
    }

}