@import '../utils/parameters';

.point-section {
    background: $c-secondary;
    margin-bottom: 30rem;
    
    
}

.point-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    
}

.point-section-ul {
    flex: 50%;
    position: relative;
}

.point1 {
    background: #FFFFFF;
    box-shadow: 0px 8px 32px rgba(15, 35, 54, 0.06);
    border-radius: 8px;
    position: absolute;
    top: -40rem;
    left: -10rem;
    margin-bottom: 2rem;
    padding: 4rem;

    span {
        font-size: 2.5rem;
        line-height: 100%;
        letter-spacing: 0.2px;
        color: $c-text;
        
        
    }

    p {
        font-size: 1.6rem;
        line-height: 150%;
        color: $c-text2;
        margin-top: 3rem;
    }
}

.point2 {
    background: #FFFFFF;
    box-shadow: 0px 8px 32px rgba(15, 35, 54, 0.06);
    border-radius: 8px;
    position: absolute;
    top: -10rem;
    left: 0;
    margin-bottom: 2rem;
    padding: 4rem;
    

    span {
        font-size: 2.5rem;
        line-height: 100%;
        letter-spacing: 0.2px;
        color: $c-text;
        
    }

    p {
        font-size: 16px;
        line-height: 150%;
        color: $c-text2;
        margin-top: 3rem;
    }
}

.point3 {
    background: #FFFFFF;
    box-shadow: 0px 8px 32px rgba(15, 35, 54, 0.06);
    border-radius: 8px;
    position: absolute;
    top: 20rem;
    left: -10rem;
    margin-bottom: 2rem;
    padding: 4rem;

    span {
        font-size: 2.5rem;
        line-height: 100%;
        letter-spacing: 0.2px;
        color: $c-text;
        
    }

    p {
        font-size: 1.6rem;
        line-height: 150%;
        color: $c-text2;
        margin-top: 3rem;
    }
}

.point-img {
    max-width: 100%;
    
}

@media (max-width:1024px) {
    .point-main {
        display: block;
    }

    .point1 {
        position: static;
    }

    .point2 {
        position: static;
    }

    .point3 {
        position: static;
    }

    .point-section {
        overflow: hidden;
    }

}