@import '../utils/parameters';

.work-section {
      
    margin-bottom: 30rem;

    .container {
        background: $c-secondary;
        border-radius: 5rem;
        padding: 10rem ;
      
        
    }
    
}

.border {
    display: flex;
    align-items: center;
    justify-content: space-between;
            
}


.work-section-text   {
    flex: 50%;
    
    
    p {
        font-size: 1.8rem;
        line-height: 100%;
        color: $c-text2;
        margin-bottom: 3rem;
    }

    h2 {
        font-weight: 900;
        font-size: 4rem;
        line-height: 138%;
        color: $c-text;
        margin-bottom: 3rem;
    }
    
}

.work-section-img {
    position: relative;
    flex: 50%;
}
.phone {
    position: absolute;
    z-index: 1;
    bottom: -30rem;
    left: 7rem;
    max-width: 100%;
}

.glass {
    position: absolute;
    bottom: -15rem;
    left: -8rem;
    max-width: 100%;
}

.snack {
    position: absolute;
    z-index: 2;
    bottom: -30rem;
    left: 25rem;
    max-width: 100%;
}

@media (max-width:1024px) {
        
    h2 {
        font-size: 3rem;
    }
    .border {
        display: block;
    }

    .phone {
        position: static;
        
    }
    .glass {
        position: static;
        
    }

    .snack {
        position: static;
    }

    .work-section-img {
        margin-bottom: 20rem;
    }
    
    
    
}

@media (max-width:767px) {
        
    h2 {
        font-size: 1.5rem;
    }
    

    
    
}
