@import '../utils/parameters';

.work-section {
    margin-bottom: 30rem;
}

.work-section__nav {
    background: $c-secondary;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10rem;
    flex-wrap: wrap;
    
}

.phone-img {
    position: absolute;
    top: -5rem;
    right: 0;
    max-width: 100%;
    
}

.work-section__text {
    flex: 50%;


    .work-text  {
        font-size: 1.8rem;
        line-height: 100%;
        color: $c-text2;
        margin-bottom: 3rem;
    }

    .work-title {
        font-weight: 900;
        font-size: 4rem;
        line-height: 138%;
        color: $c-text;
        margin-bottom: 3rem;
        max-width: 30rem;
       
    }
}

.work-section__img  {
    flex: 50%;
}

@media (max-width:1024px) {
    
    .work-section {
        margin-bottom: 15rem;
    }
}

@media (max-width:768px) {
    .work-section__nav {
        display: block;
        padding: 5rem;
    }

    .phone-img {
        position: static;
        flex: 100%;
        margin-bottom: 5rem;
    }
    
}


@media (max-width:576px) {
    .work-section__nav {
        padding: 2rem;
    }

    .work-section__text .work-title {
        font-size: 3rem;

    }
}