footer.footer
    .footer-main
        .container 
            .footer-row
                a(href="#").logo-footer
                    img(src="./assets/imgs/logo-footer.svg", alt="logo-footer").logo-img
                ul.footer-menu 
                    li.footer-menu__nav 
                        p.footer-menu__main Company
                        p.footer-menu__text Merchant Portal
                    li.footer-menu__nav 
                        p.footer-menu__main Support
                        p.footer-menu__text FAQ
                        p.footer-menu__text Terms of Service
                        p.footer-menu__text Privacy Policy
                    li.footer-menu__nav 
                        p.footer-menu__main Follow Us
                        p.footer-menu__text Twitter
                        p.footer-menu__text Instagram
                        p.footer-menu__text Facebook
        img(src="./assets/imgs/list-blue.svg", alt="list-blue").footer-main__list-blue
        img(src="./assets/imgs/list-orange.svg", alt="list-orange").footer-main__list-orange


            