section.gifts-section 
    .container
        .gifts 
            .gifts-text
                p Please your friends
                h2 Send gifts and
                h2 order for groups
                p Send Gifts with a value for your friends and family and use it on their favorite stores. Be the rock star make Group Orders and pick up for your coworkers when they can't get away.
            .gifts-text-img 
                img(src="./assets/imgs/phone2.png", alt="phone2").gift-img
            