section.main-section 
    .container 
        .main-section__container
            div.main-section__order
                h1.main-section__title <span class="primary"> Order ahead </span> and earn rewards for every purchase <span class="orange">.</span>
                a(href="#").main-section__link Discover how
                    img(src="./assets/imgs/arrow.svg", alt="arrow").main-section__arrow
            img(src="./assets/imgs/main-img.png", alt="people").main-section__img