section.point-section 
    .container
        div.point-main
            div.point-section-ul
                div.point.point--first
                    img(src="./assets/imgs/point1.svg", alt="")
                    span.point-title Loyalty Points
                    p.poimt-text Collect points on each store and redeem them to change for Teas.
                div.point.point--second
                    img(src="./assets/imgs/point2.svg", alt="")
                    span.point-title Exclusive Store Discounts
                    p.poimt-text You can enjoy lots of discounts from the selected stores near you.
                div.point.point--third
                    img(src="./assets/imgs/point3.svg", alt="")
                    span.point-title T.Pass Free Drinks
                    p.poimt-text 2 Teas for $5.99 each month. and you can carry them over to the next month.
                    
            div
                img(src="./assets/imgs/point-img.png", alt="point-img").point-img