section.point-section 
    .container
        div.point-main
            div 
                div.point1
                    img(src="./assets/imgs/point1.svg", alt="")
                    span Loyalty Points
                    p Collect points on each store and redeem them to change for Teas.
                div.point2
                    img(src="./assets/imgs/point2.svg", alt="")
                    span Exclusive Store Discounts
                    p You can enjoy lots of discounts from the selected stores near you.
                div.point3
                    img(src="./assets/imgs/point3.svg", alt="")
                    span T.Pass Free Drinks
                    p 2 Teas for $5.99 each month. and you can carry them over to the next month.
                    
            div
                img(src="./assets/imgs/point-img.png", alt="point-img")