section.work-section 
    .container 
        .border 
            .work-section-img 
                img(src="./assets/imgs/phone.png", alt="phone").phone
                img(src="./assets/imgs/glass.png", alt="glass").glass
                img(src="./assets/imgs/snack.png", alt="snack").snack
            .work-section-text 
                p.daily Your daily pick-me-up
                h2 How does
                h2 it work.
                p Start choosing your favorite teas and snacks in your nearby stores and place your orders, accumulate points, share gifts and teas with your friends and co-workers, and finally use our T-Pass to get your free drinks.