section.work-section 
    .container
        div.work-section__nav
            div.work-section__img 
                img(src="./assets/imgs/phone1.png", alt="phone1").phone-img
            div.work-section__text
                p.work-text Please your friends
                h2.work-title Send gifts and order for groups
                p.work-text Send Gifts with a value for your friends and family and use it on their favorite stores. Be the rock star make Group Orders and pick up for your coworkers when they can't get away.
            